$fa-var-hand-pointer: "\f25a";
$fa-var-share-square: "\f14d";
$fa-var-file-alt: "\f15c";
$fa-var-hand-point-down: "\f0a7";
$fa-var-dollar-sign: "\f155";
$fa-var-trash-alt: "\f1f8";
$fa-var-paper-plane: "\f1d8";
$fa-var-hand-point-left: "\f0a5";